body { 
  background-image: url(f97222cb2289d60e35d45c356e80a705.jpg);
  width:100%;
}
/* Achtergrond veranderd van een kleur naar een plaatje*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: pink;
  }
  /* menu gemaakt, de 100% staat voor een menubalk die van links tot rechts loopt*/

  li {
    float: left;
  }
  
  a {
    display: block;
    padding: 18px 21px;
    text-align: center;
    text-decoration: none;
    background-color: pink;
    text-align: center;
    color:black;
  }
  /* opmaak van het menu*/

 h1{
  color:black;
  margin-left: 550px;
 }
 /* tekst van menu*/

 li a:hover{
  background-color:rgb(253, 200, 233);
 }
 /* kleur van als je met je muis op het menu gaat staan*/

 .introductie {   /* een ingevulde border gemaakt voor mijn tekst*/
  width: 50%;
  border:pink;
  background-color: pink;
  color: black;
  padding: 9px;
  margin-left: 9;
  border-radius: 10px;
 }

/* De tekst waarvan ik een class had gemaakt genaamd: introductie
heb ik een ingevulde border gegeven*/

img { /* afmetingen van mijn plaatjes*/
  display:inline;
  margin-bottom: 10px;
  height: 150px;
  width: 210px;
  image-rendering: auto;
  border: 20%;
}

.introtwee { /*een ingevulde border gemaakt voor het 2e stuk tekst over mij*/
  width: 40%;
  border:pink;
  background-color: pink;
  color: black;
  padding: 9px;
  margin-left: 9;
  border-radius: 10px;
}

 .kleurmodellen-1 { /* een ingevulde border gemaakt voor mijn tekst*/
  width: 40%;
  border:pink;
  background-color: pink;
  color: black;
  padding: 9px;
  margin-left: 9;
  border-radius: 10px;
 }

 .kleurmodellen-2 {   /* een ingevulde border gemaakt voor mijn tekst*/
  width: 40%;
  border:pink;
  background-color: pink;
  color: black;
  padding: 9px;
  margin-left: 9;
  border-radius: 10px;
  float: right;   /* deze alinea aan de rechter kant gezet want ziet er leuk uit*/
 }
  
 .kleurmodellen-3 {  /* een ingevulde border gemaakt voor mijn tekst*/
  width: 40%;
  border:pink;
  background-color: pink;
  color: black;
  padding: 9px;
  margin-left: 9;
  border-radius: 10px;
 }

 p {
  font-size: 20px;
  font-style: oblique;
 }

 .bitmap {  /* een ingevulde border gemaakt voor mijn tekst*/
  width: 60%;
  border:pink;
  background-color: pink;
  color: black;
  padding: 9px;
  margin-left: 9;
  border-radius: 10px;
 }

 .vector {  /* een ingevulde border gemaakt voor mijn tekst*/
  width: 40%;
  border:pink;
  background-color: pink;
  color: black;
  padding: 9px;
  margin-left: 9;
  border-radius: 10px;
 }

 .vector-2 {   /* een ingevulde border gemaakt voor mijn tekst*/
  width: 60%;
  border:pink;
  background-color: pink;
  color: black;
  padding: 9px;
  margin-left: 9;
  border-radius: 10px;
 }

 .geluid-1 {  /* een ingevulde border gemaakt voor mijn tekst*/
  width: 60%;
  border:pink;
  background-color: pink;
  color: black;
  padding: 9px;
  margin-left: 9;
  border-radius: 10px;
 }

 .geluid-2 {   /* een ingevulde border gemaakt voor mijn tekst*/
  width: 80%;
  border:pink;
  background-color: pink;
  color: black;
  padding: 9px;
  margin-left: 9;
  border-radius: 10px;
 }
 .compressie-1 {                
  width: 60%;
  border:pink;
  background-color: pink;
  color: black;
  padding: 9px;
  margin-left: 9;
  border-radius: 10px;
 }
  .compressie-2 {
    width: 60%;
    border:pink;
    background-color: pink;
    color: black;
    padding: 9px;
    margin-left: 15;
    border-radius: 10px;
  }
  .compressie-3 {
    width: 80%;
    border:pink;
    background-color: pink;
    color: black;
    padding: 9px;
    margin-left: 9;
    border-radius: 10px;
  }

  .binair-1 {
    width: 60%;
    border:pink;
    background-color: pink;
    color: black;
    padding: 9px;
    margin-left: 15;
    border-radius: 10px;
  }

  .tientallig {
    width: 60%;
    border:pink;
    background-color: pink;
    color: black;
    padding: 9px;
    margin-left: 15;
    border-radius: 10px;
  }