body { background-color: rgb(143, 99, 143);}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: #e3d7e0;
  }

  li {
    float: left;
  }
  
  a {
    display: block;
    padding: 18px 21px;
    text-align: center;
    text-decoration: none;
    background-color: #e3d7e0;
    text-align: center;
    color:black;
  }

 h1{
  color:black;
  margin-left: 550px;
 }

 li a:hover{
  background-color:rgb(230, 100, 122);
 }

 